<section class="container">
  <% if current_user.owns?(@bar) %>
    <p>
      <%= link_to "Current Shifts",
        bar_shifts_path(bar),
        class: "button secondary" %>
    </p>
    <p>
      <%= link_to "Update Bar Information",
        edit_bar_path(@bar),
        class: "button" %>
    </p>
    <p>
      <%= button_to "Delete Bar", bar_path(@bar),
        method: :delete,
        data: { confirm: "Please confirm deletion" } %>
    </p>
  <% end %>
</section>
