<section class="container">
  <% shifts.each do |shift| %>
    <h3 class="title-ha">
      <%= link_to "#{shift.shift_date.strftime("%A, %-m/%d/%Y")},
        Time: #{shift.shift_start.strftime("%l:%M %P")}",
        [bar, shift] %>
    </h3>
  <% end %>
</section>
