<section class="container">
  <div>
    <p>
    <%= "Date: #{shift.shift_date.strftime("%A, %-m/%d/%Y")},
    Time: #{shift.shift_start.strftime("%l:%M %P")}" %>
    </p>
  </div>
  <div>
    <p>Details: <%= shift.details %></p>
  </div>
  <% if current_user.owns_or_works_at?(bar) %>
    <div>
      <ul>Bartenders: 
        <li><%= render shift.users %><li>
      </ul>
    </div>
  <% end %>
</section>
