<h1 class="profile"><%= link_to @bar.name, @bar %></h1>

<section class="container">
  <h2 class="results">Available Shifts</h2>

  <%= render "available_shifts", shifts: @shifts.by_most_recent, bar: @bar %>

  <% if current_user.owns?(@bar) %>
    <h2 class="results">All Shifts</h2>

    <%= render "shifts", shifts: @shifts.by_most_recent, bar: @bar %>

    <div>
      <%= link_to "Create Shift", new_bar_shift_path(@bar), class: "button" %>
    </div>
  <% end %>
</section>
