<section class="container">
  <h2 class="results">Your Shifts</h2>

  <%= render "shifts", shifts: user.shifts.by_most_recent %>

  <h2 class="results">Your Bars</h2>

  <%= render user.bars.order(name: :asc) %>

  <h2>
    <%= link_to "The Guesting Bars", bars_path, class: "button" %>
  </h2>
</section>
