<section class="container">
  <h1 class="profile">Welcome <%= current_user.profile.name %></h1>

  <% if current_user.manager? %>
    <%= render "manager", user: current_user %>
  <% else %>
    <%= render "bartender", user: current_user %>
  <% end %>
</section>
