html, body, h1, ul, li, div, img, h2, h3, form, input, span, footer, a, h4, input, form, main {
  background: transparent;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

$base-color: #298bff;
$gray-color: #242424;

body {
  font-family: $base-font-family;
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto;
  max-width: 1000px;
}

header {
  background: $base-color;
  font-size: 20px;
  height: 3.5em;
  width: 100%;
}

header .title {
  background: $base-color;
  color: white;
  float: left;
  padding: 1.1em 2em 1em 1em;
}

li {
  color: #d3d3d3;
  padding-bottom: 1em;
}

.title-ha {
  text-align: center;
}

.sign-out {
  float: right;
  margin-right: -0.75em;
  padding: 0.5em 1em;
  text-transform: capitalize;
}

.container {
  padding: 1em 0.75em 1em 0.75em;
  position: relative;
}

.error {
  background: pink;
  border-radius: 0.25em;
  margin: 0.75em 0.5em;
  padding: 0.5em 0.75em;
}

.welcome {
  margin-top: 0.75em;
}

.edit {
  position: absolute;
  right: 1em;
  top: 1.35em;
}

.line {
  border-top: 3px solid #d3d3d3;
  padding-top: 1em;
}

.info {
  float: right;
  margin-bottom: 1em;
  padding: 0.75em 0;
  width: 65%;
}

.no-info {
  margin-bottom: 1em;
  margin: 0 auto;
  padding: 1em 0;
  width: 65%;
}

p {
  color: black;
  padding-top: 0.5em;
}

.label {
  color: #d3d3d3;
  text-transform: capitalize;
}

$red: red;

#delete {
  background: darken($red, 15%);
  margin-top: 1.5em;
}

.profile {
  background: #ECECEC;
  border-radius: 0.15em;
  padding: 1em 1em 1em 1.25em;
}

.sign-in {
  background: #6DADF9;
}

.list {
  left: -7.25em;
  position: relative;
  top: 0.75em;
}

.list:hover {
  color: black;
}

.results {
  margin-bottom: 1em;
}
